@model IList<string>
@{
	ViewData["Title"] = "Home Page";
}

<div class="content">

	<h1>Generera flerstaviga rim av variernade kvalitét!</h1>

	@using (Html.BeginForm("GenerateBar", "Rimmaskin", FormMethod.Post))
	{
		@Html.TextBox("word")
		<button type="submit">Generera</button>
	}

	@{
		if (Model != null)
		{
			foreach (string word in Model)
			{
				<h2>@word</h2>
			}

		}

	}
</div>