@model tjenamannen.Models.Pages.Rimmaskin
@{
	ViewData["Title"] = "Upload";
}

<div class="content">
	<h1>Ladda upp ord till databasen i Json format</h1>

	<input type="button" value="Ladda upp på det dåliga sättet" onclick="location.href = '@Url.Action("UploadShittyWay", "Rimmaskin")'" />
</div>