/* Start Headings */
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: 400;
    line-height: 1.2;
    color: #222;
}
header {
    background-color: #F5A01F;
    padding: 1rem;
    height:82px
    
}
    header a {
        float: left;
        margin-left:1%;
    }



h1 {
    font-size: 4rem;
    color: #ff0000;
    padding-bottom: 1%;
}

h2 {
    font-size: 3rem;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    /*text-transform: uppercase;*/
}

h3 {
    font-size: 1.5rem;
    color: #0000ff;
}

    h3 a {
        font-size: 3.5rem;
        color: #C93127;
        margin-top: -10px;
    }
.navlist-vertical{
    float: right;
}

.navlist {
    align-items: center;
}

.navlist li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
    padding-left: 20px;
    /*height: 100px;*/
    justify-content: center;
    align-items: center;
}
.header-nav-item a {
    display: flex;
    /*width: 276px;*/
    padding: 0px 30px 0px 30px;
  
    border-radius: 143px;
    background: #673B90;
}
    .header-nav-item a:hover {
        /*display: flex;
    width: 276px;*/
        padding: 0px 30px 0px 30px;
        justify-content: center;
        align-items: center;
        border-radius: 143px;
        background: black;
    }
.navlist h3 {

/*    display: inline;
    list-style-type: none;
    padding-right: 20px;*/


}
.navlist li a {
    color: snow;
}
.li a{
        color: black;
}
a {
    text-decoration: none;


}
.nav-text {
    color: #000;
    font-weight: bold;
    /*text-transform: uppercase;*/
    /*text-align: center;*/
}

.nav-text-small {
    font-size: 20px;
}


.site {
    float: left;
    background: #F1D04A;
    border-radius: 100px;
    width: 80%;
    margin-left: 10%;
    margin-top: 2%;
}
.content {
    background: #F1D04A;
    border-radius: 100px;
    padding: 5%;

}


html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    /*position: relative;*/
    min-height: 100%;

}

body {
    background: #673B90;
    color: snow;
    /* h1 */
    font-family: Jolly Lodger;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}