@model tjenamannen.Models.Rimmaskin
@{
	ViewData["Title"] = "Home Page";
}
<div class="content">
	<h1>Generera flerstaviga rim av variernade kvalitét!</h1>
@using (Html.BeginForm("GenerateBar", "Rimmaskin", FormMethod.Post))
{
	@Html.TextBoxFor(model => model.searchWord)
@*
    @Html.ValidationMessageFor(model => model.searchWord)*@

	<button type="submit">Generera</button>
}

@*<input type="button" value="Upload Words to DB" onclick="location.href = '@Url.Action("UploadFileToDb", "Rimmaskin")'" />*@

@{
	if(Model != null){
		foreach(string word in Model.returnWords){
			<h2>@word</h2>
		}
        
	}

}
</div>